body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/* DISPLAY FLEX */
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* BOX */
.box {
    background-color: #FCFCFC;
    width: 90vw;
    border: #D9D9D9 solid 1px;
    border-radius: 10px;
    margin: 0 auto 3rem;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
}

/* HEADER */
header {
    background: linear-gradient( rgba(26,26,26,1),rgba(26,26,26, 0.5)), fixed no-repeat left / cover url(../img/bienvenue.jpg);
    height: 70vh;
    color: #FCFCFC;
    padding-top: 8rem;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

header h2 {
    font-size: 2rem;
    font-weight: 200;
}

/* SECTION PRESENTATION */
.hello {
    background-color: #018E7B;
    color: #FCFCFC;
}

.hello img {
    width: 90vw;
    margin: 0 auto;
    margin-top: -30vh;
}

.hello h2 {
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem 0;
}

.hello p {
    text-align: center;
    padding: 0 1rem 20rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
}

/* SECTION HARD-SKILL */
.hard-skill {
    margin-top: -15rem;
}

.hard-skill__cat {
    width: 100%;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hard-skill>div:last-child {
    padding-bottom: 5rem;
}

.cat__header img {
    width: 88px;
}

.cat__header h2 {
    color: #018E7B;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.cat__logos {
    justify-content: space-evenly;
}

.cat__logos__item {
    width: 33%;
    margin-top: 1rem;
}

.cat__logos img {
    width: 54px;
    height: 54px;
}

/* SECTION FORMATION ET EXPERIENCE */
.formation, .experience p {
    width: 90%;
    padding-bottom: 10rem;
    line-height: 1.5rem;
    text-align: center;
}

.formation h2, .experience h2, footer h2 {
    font-size: 2rem;
    font-weight: 600;
    padding: 3rem;
}

.experience {
    background-color: #01438E;
    color: #FCFCFC;
}

.experience p {
    padding-bottom: 15rem;
}
/* SECTION SOFT-SKILL */

.soft-skill {
    margin-top: -10rem;
}

.soft-skill__item {
    padding: 40px;
}

.item__header h2{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: #01438E;
}

.item__header img {
    width: 107px;
}

.item__main {
    height: 60px;
    text-align: center;
}

.item__main li {
    margin-bottom: 0.7rem;
}

/* SECTION FOOTER */
footer {
    height: 30vh;
    background: linear-gradient( rgba(26,26,26,1),rgba(26,26,26, 0.5)), fixed no-repeat left / cover url(../img/bienvenue.jpg);
    color: #FCFCFC;
}

.contact {
    justify-content: space-evenly;
    width: 100%;
    flex-grow: 2;
}