body {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #1a1a1a;
    overflow: hidden;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* HEADER */

.header, .header__nav {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    padding: 1rem;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* COMMUN */
.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}


/* WELCOME */
.welcome {
    display: flex;
    flex-direction: column;
    background: linear-gradient( rgba(26,26,26,1),rgba(26,26,26, 0.7)), fixed no-repeat center / cover url(../img/bienvenue-filtre.jpg);
}

.welcome h1 {
    font-size: 16rem;
    /* text-transform: uppercase; */
}

.welcome p {
    text-align: center;
}

.welcome p:nth-of-type(1) {
    font-size: 3.5rem;
}

.welcome p:nth-of-type(2) {
    padding: 2rem 0;
    max-width: 50%;
    font-size: 2rem;
}

.welcome p:nth-of-type(3) {
    max-width: 40%;
    font-size: 1.5rem;
}

#welcome

/* ME */
#me {

}

/* SOFT SKILLS */
#soft-skills {
   
}

/* HARD SKILLS */
#hard-skills {
    
}

/* EXPERIENCE */
#experience {
    
}

/* FORMATION */
#formation {
    
}

/* CONTACT */
#contact {
    
}